.home {
    background-image:
        linear-gradient(#0000007a, #00000085),
        url("https://images.pexels.com/photos/4492126/pexels-photo-4492126.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 576px) {
    .home {
        height: 35vh;
    }
}